<a href="https://colab.research.google.com/github/TensionFlo/Sherlock_bot/blob/main/parse_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import os
os.chdir('/content/drive/My Drive')

In [ ]:
!ls

'Colab Notebooks'   sherlock.txt   SoP_ACM.pdf	 SoP.pdf

In [ ]:
import re
import pandas as pd

In [ ]:
pattern= r'([a-zA-Z\s]+):(.+)'

In [ ]:
data={
    'name':[],
    'line':[]
}

In [ ]:
with open('sherlock.txt','rt')as file:
  for line in file.readlines():
    match=re.findall(pattern,line)
    if match:
     name,line=match[0]
     data['name'].append(name)
     data['line'].append(line)

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.head()

   name                                               line
0  ELLA                            How’s your blog going?
1  JOHN                       Mmm, fine! Good. Very good.
2  ELLA                                     Written much?
3  ELLA   John, it’s going to take you a while to adjus...
4  JOHN                                             Sure.

In [ ]:
sum(df['name']=='SHERLOCK')

3125

In [ ]:
len(df)

10327

In [ ]:
df.to_csv('sherlock.csv',index=False)